/* App.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #465ec7c2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    color: #312e2e;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    background: #167dada1;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(133, 102, 102, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
  }
  
  form input {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: #1e58af;
    border: none;
    border-radius: 4px;
    color: rgb(167, 117, 168);
    font-size: 1.5rem;
    font-style: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #262081;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
  }
  
  li {
    background: #1a99e2a6;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li button {
    padding: 5px 10px;
    background-color: #ff4f4f;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  li button:hover {
    background-color: #d14141;
  }
  